html {
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	background-color: gray;
	font-size: 10px;
}

h1 {
	font-size:5.3em;
	margin: 0px 0px;
}

h3 {
	font-size: 1.7em;
}

.app-container {
	display: flex;
}

.title-container {
	padding: 80px 0px 0px 80px;
	width: 50%;
}

.route-container{
	padding-right: 80px;
	display: flex;
	justify-content: center;
	width: 50%;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99;
    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0,0,0,0)
    }
}
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
}