.row-container {
	width: 200px;
	text-align: center;
}

.node {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 20px auto;
	height: 90px;
	width: 150px;
	background-color: cyan;
	border-radius: 75px / 45px;
}