.row-container {
	width: 200px;
	height: 110px;
	position: relative;
	//background-color: green;
	margin: 20px auto;
}

.node {
	position: absolute;
	box-sizing: border-box;
	height: 120px;
	width: 180px;
	left: 50%;
	margin-left: -90px;
	top: 50%;
	margin-top: -60px;
	background-color: cyan;
	border-radius: 90px / 60px;
	border-style: solid;
	border-width: 5px;
	border-color: gray;
}

.time-node {
	position: absolute;
	height: 70px;
	box-sizing: border-box;
	width: 130px;
	left: 85%;
	top: 50%;
	margin-top: -35px;
	border-radius: 65px / 35px;
	background-color: green;
	border-style: solid;
	border-width: 5px;
	border-color: gray;
}

.node-container {
	text-align: center;
	padding-top: 20px;

	h4 {
		font-size: 1.4em;
	}
	h2 {
		font-size: 3.3em;
	}
}
.time-container {
	text-align: center;
	padding-top:13px;
}

.distance-label {
	position: absolute;
	line-height: 40px;
	top: 50%;
	margin-top: -20px;
	left: -65px;
}

br {
	line-height: 0%;
	margin: 0px;
}

.node-item {
	margin: 0px;
}
