.search-container{
	//width: 65%;
	//margin: auto;
	margin-left: 20%;
	text-align: left;
	margin-top: 80px;
	h3{
		margin: 10px 0px;
		font-size:2em;
	}
}

input.location-search {
	width: 160px;
	font-size: 1.5em;
}


.input-container{
	display: flex;
	
	h4 {
		font-size: 1.5em;
		margin: 19px 0px;
		line-height: 20px;
	}
	input{ 
		margin: 10px 10px;
		line-height: 20px;
	}
}

input.search-button {
	font-size: 5em;
	width: 100px;
	height: 90px;
}